@font-face { font-family: '777Balsamtint'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff') format('woff'); font-weight: normal; font-style: normal; }

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: "NanumSquare", sans-serif;
  // max-width: 375px;
  // height: 100%;
}

.nav {
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  background-color: #fff;
  a {
    text-decoration: none;
    color: black;
  }
  .emoji {
    display: none;
  }
  .on {
    .char {
      display: none;
    }
    .emoji {
      display: block;
    }
  }
}

.content {
  padding: 10px 10px 0;
  .pane {
    position: relative;
    .anchor {
      position: absolute;
      margin-top: -60px;
      padding-top: 60px;
      // top: -60px;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  .flower {
    height: calc(107vw - 20px);
    background: no-repeat url("assets/img/frame.png");
    background-size: contain;
    background-origin: border-box;
    padding: 24.13vw 0;
    box-sizing: border-box;
    position: relative;
    font-family: FlowerRoad;
    .names {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      .name {
        font-size: 13vw;
      }
      .em {
        font-size: 9vw;
      }
    }
  }

  .schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: '777Balsamtint';
    font-size: 6vw;
    margin-top: 10px;
  }

  .divider {
    width: 50%;
    margin: 20px auto;
    img {
      width: 100%;
    }
  }
}

.profile {
  display: flex;
  div {
    flex: 3;
    overflow: hidden;
    height: calc(43vw - 6.6px);
    // border: 1px solid black;
    img {
      width: 100%;
    }
    &.ring {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    &.seunghyeon img {
      transform: scale(1.7);
      transform-origin: center;
      clip-path: circle(20% at 50% 40%);
    }
    &.ara img {
      transform: scale(4) translateY(1.45vw);
      transform-origin: center;
      clip-path: circle(13%);
    }

    // img {
    //   width: 100%;
    // }
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 5vw;
  font-family: '777Balsamtint';
}

.tel {
  width : 20px;
  height: auto;
}

.photo {
  .img-wrapper {
    width: 100%;
  }
}

.calendar {
  width: 100%;
  height: auto;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vw;
  .icon {
    width : 20px;
    height: auto;
  }
}
