@font-face {
  font-family: "777Balsamtint";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FlowerRoad";
  src: url("./assets/font/SangSangFlowerRoad.otf");
}

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: "NanumSquare", sans-serif;
}

.nav {
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #fff;
  .menus {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vw;
    font-size: 4vw;
    .emoji {
      display: none;
    }
    .on {
      .char {
        display: none;
      }
      .emoji {
        display: block;
      }
    }
  }
  .progress {
    background: #7490c7;
    display: block;
    width: 100%;
    height: 0.5vw;
  }
}

.content {
  .pane {
    position: relative;
    padding: 5vw 10px;
    .anchor {
      position: absolute;
      margin-top: -20vw;
      padding-top: 20vw;
    }
    // 사진 섹션은 좌우 여백 제거
    &.photo {
      padding: 5vw 0;
    }
    &.footer {
      margin-top: 10px;

      padding: 3vw 0;
    }
    // 각 섹션 헤더
    h2 {
      margin: 0;
      font-size: 7vw;
      font-family: FlowerRoad;
      text-align: center;
      margin-bottom: 3vw;
    }
  }
  .divider {
    width: 50%;
    height: 10vw;
    margin: 0 auto;
    background-image: url("./assets/img/divider.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  .flower {
    height: calc(107vw - 20px);
    background: no-repeat url("./assets/img/frame.png");
    background-size: contain;
    background-origin: border-box;
    padding: 24.13vw 0;
    box-sizing: border-box;
    position: relative;
    font-family: FlowerRoad;
    .names {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      .name {
        font-size: 13vw;
      }
      .em {
        font-size: 9vw;
      }
    }
  }

  .schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "777Balsamtint";
    font-size: 6vw;
  }
}

.profile {
  display: flex;
  flex-direction: column;

  .pictures {
    display: flex;
    margin-top: -3vw;
    div {
      flex: 3;
      overflow: hidden;
      height: calc(43vw - 6.6px);
      img {
        width: 100%;
      }
      &.ring {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
        }
      }
      &.seunghyeon img {
        transform: scale(1.7);
        transform-origin: center;
        clip-path: circle(20% at 50% 40%);
      }
      &.ara img {
        transform: scale(4) translateY(1.58vw);
        transform-origin: center;
        clip-path: circle(13%);
      }
    }
  }

  .contacts {
    display: flex;
    justify-content: space-around;
    font-size: 5.5vw;
    font-family: "777Balsamtint";
    .contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 39vw;
      height: 8vw;
      .tel {
        display: inline-block;
        width: 6vw;
        height: 6vw;
        background-image: url(./assets/img/phone.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

.photo {
  .images {
    display: flex;
    overflow: hidden;
    .image-wrapper {
      min-width: 100vw;
      max-width: 100vw;
      height: 60vw;
      padding: 0 10px;
      img {
        width: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    font-size: 5vw;
    width: 8vw;
    height: 8vw;
    top: 46vw;
    z-index: 1;
    color: #fff;
    background-color: #7490c7;
    background-clip: content-box;
    opacity: 0.2;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 4.5vw;
    margin: -4.5vw;
    &.left {
      left: 5vw;
    }
    &.right {
      right: 5vw;
    }
  }
  .modal {
    display: none;
    align-items: center;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // background-color: rgba(0, 0, 0, 0.9);
    animation: fadein 1s;
    .close {
      position: absolute;
      top: 5vw;
      right: 5vw;
      color: #f1f1f1;
      font-size: 8vw;
      font-weight: bold;
      transition: 0.3s;
      cursor: pointer;
    }
    .modal-content {
      width: 100%;
    }
    .dim {
      position: fixed;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.9);
    }
  }
}

.location {
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  #map {
    width: calc(100vw - 20px);
    height: calc(100vw - 20px);
    max-height: 60vh;
  }
  .redirect-map {
    .header {
      font-size: 5vw;
      margin: 5vw 0 2vw;
    }
    .link {
      display: flex;
      a {
        font-size: 4vw;
        flex: 1;
        text-align: center;
        text-decoration: none;
        color: black;
        img {
          width: 40%;
          filter: opacity(80%);
        }
      }
    }
  }
  .location-desc {
    .header {
      display: flex;
      align-items: center;
      margin: 5vw 0 1vw;
      font-size: 5vw;
      .icon {
        margin-right: 2vw;
        width: 5vw;
        height: auto;
      }
    }
    .desc {
      font-size: 3.5vw;
    }
  }
}

.footer {
  font-size: 3.5vw;
  text-align: center;
  background-color: rgba(116, 144, 199, 0.1);
  opacity: 0.5;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
