* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: "NanumSquare", sans-serif;
  // max-width: 375px;
  height: 100%;
}

.nav {
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  background-color: #fff;
}

.content {
  padding: 10px 10px 0;
}

.main {
  display: flex;
  flex-direction: column;
  .flower {
    height: calc(107vw - 20px);
    background: no-repeat url("assets/img/frame.png");
    background-size: contain;
    background-origin: border-box;
    padding: 24.13vw 0;
    box-sizing: border-box;
    position: relative;
    font-family: FlowerRoad;
    .names {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      .name {
        font-size: 13vw;
      }
      .em {
        font-size: 9vw;
      }
    }
  }

  .schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 5vw;
  }

  .divider {
    width: 50%;
    margin: 20px auto;
    img {
      width: 100%;
    }
  }
}

.profile {
  display: flex;
  div {
    flex: 1;
    overflow: hidden;
    .profile-pic-wrapper {
      height: calc(50vw - 10px);
      border: 1px solid black
    }
    &.seunghyeon {
      img {
        transform: scale(1.7);
        transform-origin: center;
        width: 100%;
        clip-path: circle(20% at 50% 40%);
      }
    }
    &.ara {
      img {
        transform: scale(4) translateY(1.45vw);
        transform-origin: center;
        width: 100%;
        clip-path: circle(12%)
      }
    }
    // img {
    //   width: 100%;
    // }
  }
}

.photo {
  .img-wrapper {
    width: 100%;
    .img {
      width: 100%;
      height: auto;
    }
  }
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
}
