@font-face { font-family: '777Balsamtint'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff') format('woff'); font-weight: normal; font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: "NanumSquare", sans-serif;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  background-color: #fff;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav .emoji {
  display: none;
}

.nav .on .char {
  display: none;
}

.nav .on .emoji {
  display: block;
}

.content {
  padding: 10px 10px 0;
}

.content .pane {
  position: relative;
}

.content .pane .anchor {
  position: absolute;
  margin-top: -60px;
  padding-top: 60px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .flower {
  height: calc(107vw - 20px);
  background: no-repeat url("assets/img/frame.png");
  background-size: contain;
  background-origin: border-box;
  padding: 24.13vw 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-family: FlowerRoad;
}

.main .flower .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main .flower .names .name {
  font-size: 13vw;
}

.main .flower .names .em {
  font-size: 9vw;
}

.main .schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: '777Balsamtint';
  font-size: 6vw;
  margin-top: 10px;
}

.main .divider {
  width: 50%;
  margin: 20px auto;
}

.main .divider img {
  width: 100%;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile div {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  overflow: hidden;
  height: calc(43vw - 6.6px);
}

.profile div img {
  width: 100%;
}

.profile div.ring {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile div.ring img {
  width: 100%;
}

.profile div.seunghyeon img {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-clip-path: circle(20% at 50% 40%);
          clip-path: circle(20% at 50% 40%);
}

.profile div.ara img {
  -webkit-transform: scale(4) translateY(1.45vw);
          transform: scale(4) translateY(1.45vw);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-clip-path: circle(13%);
          clip-path: circle(13%);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 5vw;
  font-family: '777Balsamtint';
}

.tel {
  width : 20px;
}

.photo .img-wrapper {
  width: 100%;
}

.photo .img-wrapper .img {
  width: 100%;
  height: auto;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */